body {
    background-color: rgb(178, 228, 178);
}

h2 {
    background-color: rgb(229, 232, 234);
    padding: 10px 10px;
    border-radius: 10px;
}
.principal {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "Delius Swash Caps", cursive;
    font-weight: 400;
    font-style: normal;
}

p {
    font-size: 20px;
}

fieldset {
    border: none;
}

.contenido {
    -webkit-box-shadow: 0px 0px 5px 2px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 5px 2px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 5px 2px rgba(0,0,0,0.75);
    background-color: rgb(250,250,250);
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items:start;
    width: 400px;
    text-align: left;
    border-radius: 10px;
}

.boton {
    display: flex;
    justify-content: center;
    margin-top: 5px;
}

.btn {
    width: 300px;
    height: 78px;
    border: none;
    background-color: transparent;
}

input,select {
    background-color: rgb(219, 241, 230);
    height: 20px;
}

input[type=text] {
    margin-bottom: 10px;
}

@media screen and (max-width: 450px) {
    .principal {
        display: flex;
        flex-direction: column;
        align-items: center;
        font-family: "Delius Swash Caps", cursive;
        font-weight: 400;
        font-style: normal;
        font-size: small;
    }

    .contenido {
        -webkit-box-shadow: 0px 0px 5px 2px rgba(0,0,0,0.75);
        -moz-box-shadow: 0px 0px 5px 2px rgba(0,0,0,0.75);
        box-shadow: 0px 0px 5px 2px rgba(0,0,0,0.75);
        background-color: rgb(250,250,250);
        padding: 15px;
        display: flex;
        flex-direction: column;
        align-items:start;
        max-width: 150px;
        text-align: left;
        border-radius: 10px;
    }

    body {
        background-color: rgb(122, 130, 210);
    }
    
    h2 {
        background-color: rgb(153, 187, 210);
        padding: 10px 10px;
        border-radius: 10px;
    }

    input,select {
        background-color: rgb(131, 168, 216);
    }
}