body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    margin-top: 200px;
    height: 500px;
    background-color:darkkhaki;
    text-align: center;
}
