.sour-gummy{
    font-family: "Sour Gummy", sans-serif;
}

.kablammo{
    font-family: "Kablammo", system-ui;
}

.akaya-kanadaka-regular {
    font-family: "Akaya Kanadaka", system-ui;
}
  