.contenedor {
    display: flex;
    justify-content: center;
    align-items: center;
}

.formulario {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 50px;
    width: 600px;
}

.campo {
    padding-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}


